html {
    height: 100%;
}

body {
    /*background-color: lightblue;*/
    height: 100%;
}

main {
    /*background-color: yellow;*/
}

#second-row {
    /*background-color: green;*/
    /*background-color: green;*/
}

/*textarea {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

/*.card-body {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/

.full-height {
    height: 100%;
    width: 100%;
}



/*#main-panel-text {*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/


#main-panel-text div {

    display: flex;
    flex-direction: column-reverse;
}